html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

button{
    background: none;
    border: none;
    cursor: pointer;
}

*{margin:0;padding:0;}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.page{
    flex-direction: column;
    display: flex;
    height: 100%;  
}

.title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    padding-bottom: 24px;
    color: #214530;
}

.vendor-about-title{
    color: white;
    padding-top: 60px;
}

.subtitle{
    font-family: Roboto;
    font-weight: normal;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #2B583D;
}

.links{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #2B583D;
    cursor: pointer;
    padding-left: 6px;
    background: none;
    border: none;
}

.links:hover{
    text-decoration-line: underline;
}

.logo{
    padding-left: 26px;
    padding-top: 14px;
}

.login{
    cursor: pointer;
    color: #2B583D;
    font-family: Roboto;
    font-weight: 600;
    font-size: 14px;
    padding-right: 26px;
    display: flex;
}

.login:hover{
    text-decoration-line: underline;
}

.login-icon{
    padding-left: 6px;
}

.shadowButton{
    background-color: grey;
    width: 400px;
}

#createVendorPage{
    display: flex;
    flex-direction: column;
}

.main-vendor-container{
    display: flex;
    height: 100%;
    background-color: white;
}

.vendor-about{
    width: 28%;
    padding: 2rem;
    background-color:#2B583D;
}

.vendor-form{
    padding: 2rem;
    padding-top: 15rem;
}

.all-vendors-icon{
    padding: right 6px;
    margin-top: -2px;
    padding-right: 6px;
}

.goodsTitle{
    align-self: center;
}

.price{
    margin-left: 2rem;
}

.priceTitle{
    font-size: .85rem;
    color: #ccc;
    margin-bottom: 8px;
    width: 60%;
    font-weight: inherit;
}

.vendor-item{
    flex-direction: row;
    align-items: center;
    display: flex;
    padding: 1rem;
    margin: 1rem;   
}

.goodsInput{
    width: 3rem;
    padding-left: 2rem;
}

.plus_button{
    width: 2rem;
    height: 2rem;
    align-self: center;
    margin-left: 4rem;
}

.icon-reset{
    width: 24px;
    height: 24px;
    padding-left: 3rem;
}

.cta_button{
    width: 384px;
    height: 50px;
    background:#2B583D;
    border: medium none;
    font-weight: 500;
    font-size: 16px;
    color: white;
    border-radius: .25rem;
    margin-top: 24px;
}

.cta_button:hover{
    cursor: pointer;
}

form {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(-50%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
    border-radius: 0.1875rem;
    box-shadow: 0px 0.1875rem 0.4375rem rgba(0, 0, 0, 0.25);
    padding: 2rem;
}

    form h1{ 
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
        line-height: 29px;
        text-align: center;
        color: #214530;
        margin-bottom: 24px;
    }

    form label {
        color: #ccc;
        margin-bottom: 15px;
        width: 80%;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
    }

    form input {
        font-family: 'Roboto', sans-serif;
        width: 372px;
        font-size: 14px;
        height: 44px;
        color: #55595c;
        background-color: #fff;
        background-image: none;
        border: 2px solid #E0E0E0;
        border-radius: 4px;
        padding-left: 8px;
        margin-top: 7px;
        margin-bottom: 4px;
        box-shadow: inset 0px 0px 0px 0px red;
    }

    form input:focus{
        border-color: #2B583D;
       }  

    form input:focus-visible{
        outline: none;
    } 

.searchbox{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #2B583D;
    height: 80%;
}

.search-input{
    margin-bottom: 23px;
    margin-top: 46px;
    padding-left: 8px;
    height: 48px;
    width: 384px;
    border: 2px solid #E0E0E0;
    border-radius: 4px;
    font-family: Roboto;
    font-size: 14px;
    color: #BDBDBD;
    box-shadow: inset 0px 0px 0px 0px red;
    box-shadow: none;
}

.search-input:focus{
    border-color: #2B583D;
   } 

.search-input:focus-visible{
    outline: none;
} 

#toasterContainer{
    position: fixed;
    left: 37%;
    top: 40px;
    z-index: 1;
}

#toasterText{
    color: white;
    font-size: 13px;
}

#toasterCanvas{
    width: 380px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toasterError{
    background-color: #C55;
}

.toasterSuccess{
    background-color: rgb(67, 119, 57);
}

/* Landing Page Start*/

.header-landing{
    height: 60px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-vendor-info{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
}

.landing-footer{
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    justify-content: center;
    bottom: 8%;
}

/* Landing Page Start*/

/* Login Page Start*/

#btnGoToLanding{
    background: none;
    cursor: pointer;
    border: none;
}

/* Login Page End*/
