<div id="modal" class="modal" style="display: none;">
    
    <div id="confirmationModal" style="display: none;">
        <h1> Are You Sure? </h1>
        <p class="subtitle"></p>
        <div class="groupOfbuttons">
            <button id="confirmationCancelBtn" class="center-items cancel-button"> Cancel </button>
            <button id="confirmationConfirmBtn" class="center-items cta_button"> Confirm </button>
        </div>       
    </div>

</div>