<div id="modal" class="modal" style="display: none;">

    <div id="vendorBioEditModal" style="display: none;">
        
        <form id="vendorBioEditForm">
            <h1> About You </h1>

            <label> Vendor Name 
                <input id="vendorName" type="name" />
            </label>

            <label> Email 
                <input id="vendorBioEmail" type="email" />
            </label>

            <label> Name of owner
                <input id="vendorBioOwnerName" type="name" />
            </label>
            <label class="row-checkbox">
                <input id="ownerCheckbox" class="checkbox" type="checkbox" checked="checked"/> 
                Show owner name in the market
                <span class="checkbox"></span>
            </label>

            <label> Description 
                <textarea id="vendorBioDescription" ></textarea>
            </label>

            <label> Address 
                <input id="vendorBioAddress" type="text" />
            </label>
            <label class="row-checkbox">
                <input id="addressCheckbox" class="checkbox" type="checkbox" checked="checked"/> 
                Show your address in the market
                <span class="checkbox"></span>
            </label>

            <div class="groupOfbuttons">
                <button id="vendorBioCancelBtn" type="button" class="center-items form-cancel-button"> Cancel </button>
                <input type="submit" value="Save" class="center-items form-cta_button" />
            </div>  
        </form>
    </div>
    
    <div id="confirmationModal" style="display: none;">
        <h1 class="title center-items"> Are You Sure? </h1>
        <p id="confSubtitleModal" class="subtitle center-items"></p>
        <div class="groupOfbuttons">
            <button id="confirmationCancelBtn" class="center-items cancel-button"> Cancel </button>
            <button id="confirmationConfirmBtn" class="center-items cta_button"> Confirm </button>
        </div>       
    </div>

</div>

