<div id="modal" class="pages" style="display: none;">
   
    <div id="confirmationModal" style="display: none;">
        <h1>Are you sure?</h1>

        <button id="confirmationCancelBtn"> Cancel </button>
        <button id="confirmaitonConfirmBtn"> Confirm </button>
    </div>

</div>