

<div id="modal" class="modal" style="display: none;">
    
    <div id="confirmationModal" style="display: none;">
        <form>
            <h1> Are You Sure? </h1>
            <p class="subtitle"></p>
            <div class="groupOfbuttons">
                <p id="confirmCancelButton" class="center-items cancel-button"> Cancel </p>
                <p id="confirmConfirmButton" class="center-items cta_button"> Confirm </p>
            </div>       
        </form>
    </div>

</div>