*{margin:0;padding:0;}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #214530;
}

.color-white{
    color: white !important;
}

.bottom-line{
    border-bottom: 1px solid #E0E0E0;
}

.center-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding-right-23{
    padding-right: 23px;
}

.padding-right-12{
    padding-right: 12px;
}

.padding-left-8{
    padding-left: 8px;
}

.padding-top-22{
    padding-top: 22px;
}

.margin-top{
    margin-top: 54px !important;
}

.margin-bottom-48{
    margin-bottom: 48px;
}

.contact-edit-icon{
    visibility: hidden;
}

.page{
    flex-direction: column;
    display: flex;
    height: 100%;  
}

.all-vendors{
    flex-basis: 38%;
}

.logo{
    padding-left: 26px;
    padding-top: 14px;
}

.login-icon{
    padding-left: 6px;
}

.sign-out-icon{
    margin-top: 2px;
    padding-left: 8px;
}

#createVendorPage{
    display: flex;
    flex-direction: column;
}

.main-vendor-container{
    display: flex;
    height: 100%;
    background-color: white;
}

#vendorNoProduct{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    margin-left: 95px;
    margin-bottom: 150px;
}

.vendor-about{
    width: 24%;
    padding: 2rem;
    background-color:#2B583D;
}

.vendor-about-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#listOfVendors{
    margin-top: 10px;
}

.vendor-search-results{
    width: 330px;
    margin-top: 60px;
    background-color:white;
    border-right-width: 1px;
    border-right-style: solid;
    border-color: rgb(236, 234, 234);
    display: flex;
    flex-flow: column;
}

#map {
    height: 100%;
  }  

.search-results-container{
    display: flex;
    justify-content: center;
}

.search-title-icons{
    display: flex;
    flex-direction: row;
    height: inherit;
    align-items: center;
    border-bottom: 1px solid #EEE;
    width: 272px;
    padding-left: 0px;
    margin-left: 10px;
}

.search-results-input{
    margin-bottom: 23px;
    margin-top: 46px;
    padding-left: 8px;
    height: 38px;
    width: 272px;
    border: 2px solid #E0E0E0;
    border-radius: 4px;
    font-size: 14px;
    color: #BDBDBD;
    box-shadow: inset 0px 0px 0px 0px red;
    box-shadow: none;
}

.all-vendors-icon{
    padding-right: 6px;
}

.row-with-icon{
    display: flex;
    align-items: center;
}

#bioAddress:hover, #bioOwnerName:hover,
#bioDescription:hover{
    cursor: text;
}

.header-vendor-info{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
}

.unit{
    height: 23.5px;
    width: 30px;
}

.icon-reset{
    width: 24px;
    height: 24px;
    padding-left: 3rem;
}

.searchbox{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #2B583D;
    height: 80%;
}

.header-landing{
    height: 60px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing-footer{
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    justify-content: center;
    bottom: 8%;
}

.vendor-about-footer{    
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 8%;
    width: 60%;
}