<div id='landingPage' class="page">
    <h1>This is Landing Page</h1>
    <button id="openVendorRegistration" onclick="controller.openPage('vendorRegistrationPage') ">
        Vendor Registration 
    </button>
</div>

     
