
<div id='landingPage' class="page">
    <h1>This is Landing Page</h1>

    <button class="cta_button" id="openVendorRegistration">
        Vendor Registration 
    </button>

    <!-- <home-button></home-button> -->

    <vendor-item></vendor-item>

</div>

     
