<<<<<<< HEAD
<div id='landingPage' style="display:none" class="page">
    
    <h1> This is draft header </h1>
    <button id='openCreateVendor'>Open landing page</button>

</div>
=======
<div id='landingPage' class="page">
    <h1>This is Landing Page</h1>
    <button id="vendor" onclick="controller.openPage('vendorRegistrationPage') ">
        Vendor Registration 
    </button>
</div>

     
>>>>>>> 3bed9f80d121d1024c45807a21ff7b606f2a1370
