<div id="loginPage" class="page" style="display:none">
    <form id="vendorLoginForm">
        <h1 class="vendor-reg-title"> Log In </h1>

        <label> Email
            <input 
                id="vendorLoginEmail" 
                type="email" 
                placeholder="Type your email"
                required
            />
        </label>
        <label> Password
            <input 
                id="vendorLoginPassword" 
                type="password" 
                placeholder="Type your password"
                required
            />
        </label>

        <input class="cta_button" type="submit" value="Log In"/>
    </form>

</div>