<div id="vendorRegistrationPage" class="page" style="display:none"> 
    <h1>Vendor Registration Page</h1>
    <button id='landing' onclick="controller.openPage('landingPage')"> Landing Page </button>
</div>
