<div id='vendorInfoPage' class="page" style="display:none" >
    
    <button id='vendorInfoToLanding'> Open Landing Page </button>
    
    <div class="main-vendor-container">
    
        <div class="vendor-about"> About Zeleniy Market </div>

        <div class="vendor-form">

            <h2> Zeleniy Market Goods </h2>
            <h4> Select amount of goods that do you need </h4>

            <div id="goods">
                <vendor-item></vendor-item>
            </div>
            
        </div>

    </div> 

</div>